:root {
  --main-bg-color: lightblue;
  --main-fg-color: white;
  --main-comp-color: #e6bbad;
  --main-font-family: Arial, Helvetica, sans-serif;
}

body {
	background-color: var(--main-fg-color);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#casePanel {
	width: 100%;
	height: 32px;
	padding: 5px;
	background-color: var(--main-bg-color);
	text-align: center;
	display: inline-block;
}

#roles {
	margin: 5px;
	padding: 2px;
	float:left;
	display: inline-block;
}

#roles span {
	color: var(--main-fg-color);
	background-color: var(--main-bg-color);
}

#roles select {
	border-radius: 5px;
	width: 100px;
}

#maintitle {
	font-size: 28px;
	font-family: "Brush Script MT";
	color: var(--main-fg-color);
	display: inline-block;
}

#files {
	float: right;
	display: inline-block;
	margin-right: 20px;
}

#files button {
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	background-color: var(--main-fg-color);
;
	color: black;
	margin: 0px;
}

#files button:hover {
	background-color: var(--main-comp-color);
	color: var(--main-fg-color);
}

#titles {
	font-family: var(--main-font-family);
	font-size: 16px;
	display: inline-block;
	margin: 0px 10px 0 10px;
	font-weight: bold;
	color: var(--main-fg-color);
	padding: 0px 5px 0 20px;
}

#titles input {
	margin: 0px 5px 0px 5px;
}

#phaseWrapper {
	white-space: nowrap;
	background-color: var(--main-bg-color);
	height: 48px;
	border: 1px solid gray;
	vertical-align: middle;
}

#phasePanel {
	display: inline-block;
	background-color: var(--main-bg-color);
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 2px;
	width: 100%;
	white-space: nowrap;
	cursor: pointer;
	overflow-x: scroll;
}

#phasePanel span {
	font-family: var(--main-font-family);
	font-size: 16px;
	font-weight: bold;
	color: var(--main-fg-color);
	margin: 0 20px 0 10px;
}

.phase {
	min-width: 20px;
	font-size: 12px;
	font-family: var(--main-font-family);
	display: inline-block;
	margin: 0 5px 0px 5px;
	white-space: nowrap;
	padding-left: 16px;
	
}

.phase:hover {
   	background-image: url("assets/phaseprops.png");
   	background-position: 0px 4px;
   	background-repeat: no-repeat;
}

.phase button {
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	background-color: white;
	color: black;
	margin: 0px;
}

.phase button:hover {
	border-radius: 5px;
	background-color: var(--main-comp-color);
	color: var(--main-fg-color);
}

.phase button[selected] {
	background-color: var(--main-comp-color);
	color: var(--main-fg-color);
}
.phaseStatus {
	vertical-align: middle;
	display: inline-block;
	margin: 0 2px 0 2px;
}

#contentDisplay {
	width: 100%;
	height: 100%;
	white-space: nowrap;
}

#viewerWrapper {
	float: left;
}

#viewerContainer {
	height: 100%;
	width: 70%;
	position:absolute;
	overflow: auto;
}

#widgetBar {
	position: relative;
	left: 300px;
	top: 0px;
	padding: 0 2px 4px 2px;
	height: 22px;
	z-index: 10;
	border-radius: 0 0 5px 5px;
	background-color: var(--main-bg-color);
	box-shadow: 2px 2px gray;
}

.configure-title {
	margin: 2px;
	font-weight: bold;
	margin: 5px;
	padding: 2px;
}

#basic-widgets, #licensed-widgets {
	background-color: var(--main-fg-color);
	border: 1px solid black;
	margin: 10px;
	padding: 2px;
	border-radius: 5px;
}

.widgetOption {
	font-size: 14px;
	font-family: var(--main-font-family);
	vertical-align: middle;
	padding: 2px;
	text-align: center;
	cursor: pointer;
}

.submit {
	position:absolute;
	display: block;
	left: 0px;
	top: 500px;
	width: 70%;
	text-align: center;
}

.submit button {
	border-radius: 5px;
	padding: 2px 4px 2px 4px;
	background-color: var(--main-comp-color);
	color: black;
	margin: 0px;
}

#toolWrapper {
	width: 30%;
	border-left: thick solid var(--main-bg-color);
	float: right;
}

#toolMenu {
	width: 100%;
	height: 28px;
	font-size: 12px;
	font-family: var(--main-font-family);
	background-color: var(--main-bg-color);
	color: black;
	border-bottom: 1px solid black;
	white-space: nowrap;
}

.toolTab {
	height: 18px;
	padding: 2px;
	border-radius: 5px 5px 0 0;
	background-color: #FFFFFF;
	margin: 6px 4px 0 4px;
	display: inline-block;
	cursor: pointer;
}

.toolTab[selected] {
	height: 24px;
}

.addTab {
	font-size: 20px;
	font-family: var(--main-font-family);
	background-color: var(--main-bg-color);
	margin: 0 4px 0px 8px;
	color: var(--main-fg-color);
	display: inline-block;
	cursor: pointer;
}

#toolContent {
	width: 100%;
	height: 1000px;
	overflow-y: scroll;
}

#Resources {
	display: none;
}

#Comments {
	display: none;
}

#Observations {
	display: none;
}

/* popup dialogs */
.popupDialog {
	width: 300px;
	font-size: 14px;
	font-family: var(--main-font-family);
	padding: 8px;
	color: black;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 2px gray;
	background-color: var(--main-comp-color);
	visibility:hidden;
	z-index: 20;
	position: absolute;
}

.popupDialog p {
	white-space: normal;
}

.popupDialog .title {
	font-weight: bold;
	font-color: black;
	text-align: center;
}

.popupDialog .instructions {
	width: 300px;
}

.popupDialog .error {
	margin: 4px;
	border: 1px solid gray;
	padding: 2px;
	margin: 4px;
	visiblity:hidden;
	background: yellow;
	color: black;
}

.popupDialog .buttonBar {
	padding: 4px;
	margin: 15px;
	white-space: nowrap:                 
  	box-sizing: border-box;
}

.popupDialog .buttonBar button {
	background-color: var(--main-fg-color);
	border-radius: 4px;
	color: black;
	float: left;
	margin-right: 10px;
}

.popupDialog .buttonBar button[title="Cancel"] {
	float: right;
}

#addList {
	width: 200px;
	position: absolute;
	left: 0px;
	top: 0px;
}

#listMenu input[type="text"] {
	width: 80px;
	margin: 4px;
}

.cfSources {
	width: 300px;
	border-radius: 5px;
	overflow: auto;
}

.cfSources option:disabled {
	font-weight: bold;
	color: black;
	text-align: center;
	border-bottom: 1px solid lightgray;	
}

#toolsDialog {
	width: 250px;
	position: relative;
	top: 20px;
	left: 20px;
}

#openFile {
	left: 60%;
	top: 5%;
	width: 300px;
}

#saveFile {
	left: 60%;
	top: 5%;
	width: 300px;
}


#drop_zone {
  border: 2px dashed lightblue;
  background-color: white;
  width:  295px;
  height: 120px;
}
