.widget {
	cursor: pointer;
	box-sizing: border-box;
	padding-top:16px;
	padding-bottom:16px;
	margin: 0;
   	background-position: 100% 0%;
   	background-repeat: no-repeat;
}

.widget:hover {
   	background-image: url("assets/widget.png");
}

.widget[widgettype = "radio"],.widget[widgettype = "checkbox"] {
	position: absolute;
}

.widget[widgettype = "radio"]:hover,
.widget[widgettype = "checkbox"]:hover {
	background-image: none;		
}

.widget span:first-child {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 14px;
}

.widget[widgettype="textfield"] {
}


.widget[widgettype="textarea"] {
	rows: 4;
	cols: 50;
  	overflow: auto;
}

.widget[widgettype="select"] select {
	pointer-events: none;
}

.widget[widgettype="carryforward"] {
	background-color: white;
}

.carryforward {
	width: 100px;
	height: 24px;
  	resize: both;
  	overflow: auto;	
	border: 1px dashed black;
}

.media {
  	border: 1px solid black;
}

.widget[widgettype="media"] div {
	background-color: white;
	resize: both;
	overflow: auto;
}

.widget iframe {
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.widget[widgettype="diagnosticpath"] {
	width: 98%;
	height: 800px;
	background-color: white;
	opacity: 0.7;
	border:1px dashed black;
	margin:5px;
}

.widget[widgettype="diagnosticpath"]:hover {
   	background-position: 100% 11%;
	background-image: url("assets/widget-nocopy.png");	
}

.widget[widgettype="multiplechoice"] {
	width: 75px;
	height: 100px;
	overflow: visible;
}

.widget[widgettype="multiplechoice"]:hover {
	background-image: url("assets/widget-nocopy.png");	
}

.widget[widgettype="checklist"] {
	width: 75px;
	height: 100px;
	overflow: visible;
}

.widget[widgettype="checklist"]:hover {
	background-image: url("assets/widget-nocopy.png");	
}

.widget .list input {
	position: absolute;
}
