.drawsim {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	padding: 4px;
}

.display {
	display: inline-block;
	border: 1px solid #AAA;
	margin: 10px;
}

