.cloudsim {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	padding: 4px;
}

.display {
	display: inline-block;
	border: 1px solid #AAA;
	margin: 10px;
}

#download {
	cursor: pointer;
}

.button_panel {
	width: 606px;
	display: inline-block;
	text-align: center;
}

.button_panel a:link {
    text-decoration: none;
}

.button_panel input[type=button]{
	width: 90px;
	border: 1px solid #AAA;
	border-radius: 4px;
	margin: 4px;
	background: white;
	padding: 1px;
}

.button_panel input[type=button]:hover:enabled{
	background: skyblue;
	color: white;
}

